@import "../../styles/colors.css";

button {
    background-color: var(--primary);
    border-radius: 3px;
    border-style: none;
    color: var(--light);
    font-size: 1rem;
    padding: .4rem .8rem;
}
